<?xml version="1.0" encoding="utf-8"?>
<!-- Configuration File -->
<config>
  <window width ="1024" height ="768" scale ="1">
    <title>YO WTF KHË COHONE</title>
    <FULSCREEN>false</FULSCREEN>
    <BORDERLESS>false</BORDERLESS>
    <RESIZABLE>true</RESIZABLE>
    <FULLSCREEN_WINDOW>false</FULLSCREEN_WINDOW>
    <WIDTH>1024</WIDTH>
    <HEIGHT>768</HEIGHT>
    <SCALE>1</SCALE>
  </window>

  <audio>

  </audio>

  <input>

  </input>

  <render>

  </render>

  <textures>

  </textures>
</config>