<?xml version="1.0" encoding="utf-8"?>
<!--Configuration file for the game-->
<config>
  <window>
    <fullscreen>false</fullscreen>
    <borderless>false</borderless>
    <resizable>true</resizable>
    <fullscreen_window>false</fullscreen_window>
    <title>YO WTF THIS IS THE THIRD TIME</title>
    <width>1024</width>
    <height>768</height>
    <scale>1</scale>
  </window>

  <audio>
    
  </audio>

  <input>
    
  </input>

  <render>
    
  </render>

  <textures>
    
  </textures>
</config>